.asset-manager-popup .popupContent
{
	position: absolute;
	left: 100px;
	right: 100px;
	top: 100px;
	bottom: 100px;
}

.asset-manager-popup .popupContent h2
{
	position: absolute;
	left: 30px;
	right: 30px;
	top: 30px;
}

.asset-manager-popup .asset-list-block
{
	position: absolute;
	left: 30px;
	right: 30px;
	top: 75px;
	bottom: 80px;
	text-align: center;
	border-radius: 5px;
	border: solid 1px rgb(120, 120, 120);
	background-color: rgb(40, 40, 40);
	box-shadow: inset 3px 4px 5px rgba(0, 0, 0, 0.9);
	overflow: auto;
	overflow-x: hidden;
}

.asset-manager-popup .asset-list
{
	display: inline-block;
	margin: 8px;
	padding: 0px;
}

.asset-manager-popup .asset-list li
{
	display: inline-block;
	width: 166px;
	height: 166px;
	text-align: center;
	position: relative;
}

.asset-manager-popup .asset-list li *
{
	display: inline-block;
	vertical-align: middle;
}

.asset-manager-popup .asset-list li .preview > svg
{
	max-width: 150px;
	max-height: 150px;
	border: solid 1px rgb(255, 255, 255);
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	margin: 3px;
}

.asset-manager-popup .asset-list li .preview > svg:hover
{
	max-width: 154px;
	max-height: 154px;
	margin: 2px;
}

.asset-manager-popup .asset-list li .magnifying-glass
{
	position: absolute;
	left: 5px;
	top: 5px;
	display: none;
	cursor: pointer;
}

.asset-manager-popup .asset-list li .magnifying-glass svg
{
	margin-left: 3px;
	margin-top: 8px;
}

.asset-manager-popup .asset-list .selected
{
	background-color: rgba(242, 98, 33, 0.3);
    border: 1px solid rgb(242, 98, 33);
	width: 164px;
	height: 164px;
}

.asset-manager-popup .popupContent .manageButtons
{
	position: absolute;
	/*left: 30px;*/
	right: 30px;
	bottom: 30px;
	text-align: right;
	white-space: nowrap;
	z-index: 100;
}

.asset-manager-popup .popupContent .manageButtons *
{
	display: inline-block;
	vertical-align: middle;
}

.asset-manager-popup .popupContent .manageButtons svg { cursor: pointer; }

.asset-manager-popup .popupContent .manageButtons .inputFile
{
	display: inline-block;
	margin: 0px;
	margin-right: 3px;
	background-color: rgba(60, 60, 60, 0.0);
	border: none;
	height: unset;
	min-width: unset;
	min-height: 30px;
}

.asset-manager-popup .popupContent .manageButtons .input { min-height: 30px; }

.asset-manager-popup .popupContent .manageButtons .inputFile form
{
	max-width: 30px;
	min-height: 30px;
	overflow: hidden;
}

.asset-manager-popup .popupContent .manageButtons .inputFile .mask
{
	background-color: rgb(60, 60, 60);
	min-height: 30px;
	padding: 0px;
}

.asset-manager-popup .popupContent .manageButtons > .preview > svg { margin-left: 15px; }

.asset-manager-popup .popupContent .infoButtons
{
	position: absolute;
	left: 30px;
	right: 30px;
	bottom: 15px;
}