#main, #screen
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
				
	overflow: hidden;
				
	margin: 0px;
	padding: 0px;
		
	text-align: center;
	font-family: Arial;
}

.document
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

.panel
{
	position: absolute;
	padding: 0px;
	border: solid 1px rgb(120, 120, 120);
	overflow: auto;
}

.panel table
{
	width: 100%;
}

.panel table th
{
	padding-top: 15px;
	padding-bottom: 10px;
}

.panel table td
{
	text-align: left;
	padding: 5px;
}

.panel table .right { text-align: right; }

.popup table th, .popup table td
{
	padding: 10px;
}